USE [DBToDoList]
GO
ALTER TABLE [dbo].[Tasks] DROP CONSTRAINT [FK_Task_Folder]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/27/2022 11:34:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tasks]') AND type in (N'U'))
DROP TABLE [dbo].[Tasks]
GO
/****** Object:  Table [dbo].[Folders]    Script Date: 4/27/2022 11:34:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Folders]') AND type in (N'U'))
DROP TABLE [dbo].[Folders]
GO
USE [master]
GO
/****** Object:  Database [DBToDoList]    Script Date: 4/27/2022 11:34:14 AM ******/
DROP DATABASE [DBToDoList]
GO
/****** Object:  Database [DBToDoList]    Script Date: 4/27/2022 11:34:14 AM ******/
CREATE DATABASE [DBToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBToDoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBToDoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBToDoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBToDoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBToDoList]
GO
/****** Object:  Table [dbo].[Folders]    Script Date: 4/27/2022 11:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folders](
	[Id_Folder] [int] IDENTITY(1,1) NOT NULL,
	[Folder_Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Folders] PRIMARY KEY CLUSTERED 
(
	[Id_Folder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/27/2022 11:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id_Task] [int] IDENTITY(1,1) NOT NULL,
	[Task_Name] [varchar](100) NULL,
	[IsDone] [bit] NOT NULL,
	[Folder_Id] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id_Task] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Folders] ON 

INSERT [dbo].[Folders] ([Id_Folder], [Folder_Name]) VALUES (1007, N'Folder 1')
INSERT [dbo].[Folders] ([Id_Folder], [Folder_Name]) VALUES (1008, N'Folder 2')
SET IDENTITY_INSERT [dbo].[Folders] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id_Task], [Task_Name], [IsDone], [Folder_Id]) VALUES (1003, N'Task 1', 1, 1007)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Task_Folder] FOREIGN KEY([Folder_Id])
REFERENCES [dbo].[Folders] ([Id_Folder])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Task_Folder]
GO
USE [master]
GO
